@{
    ViewData["Title"] = "Home Page";
}

<section class="features-icons bg-light text-center" style="height:90vh">
    <div class="container">
      <div class="row">
          <div class="col-lg-4">
              
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
               
              <img class="m-auto mt-5" src="https://cdn3.iconfinder.com/data/icons/scenarium-vol-14/128/004-256.png" width="50" height="50" />
               
            </div>
             <a class="navbar-brand" href="#">
            <h3>About School</h3>
            </a>
           
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/school-teacher-student/308/school-teacher-pupils-exam-014-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand" href="/Appointment/Create">
            <h3>Teachers to Parents Appointment</h3>
             </a>
          </div>
        </div> 
        
        
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn2.iconfinder.com/data/icons/thin-money-finance-2/24/thin-1101_money_dollar_coins_bills-512.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand" href="/Bills/Index">
            <h3>Bills Index</h3>
            </a>
          </div>
        </div>
         <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/gdpr-3/64/Audit-complaint-compliance-pen-paper-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand" href="/Appointment/Index">
            <h3>Complaints Index </h3>
            </a>
          </div>
        </div>
         <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn4.iconfinder.com/data/icons/online-education-9/500/online-education-study_8-256.png" width="50" height="50"/>
            </div>
             <a class="navbar-brand" href="Account/StudentView">
            <h3>Student Record</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-4">

          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://uxwing.com/wp-content/themes/uxwing/download/03-editing-user-action/new-registration.png" width="50" height="50" >
            </div>
            
            <h3>Admission details</h3>
          </div>
        </div>
       
         <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            
            
          </div>
        </div>
         <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img class="m-auto mt-5" src="https://cdn3.iconfinder.com/data/icons/project-planning-03-line/128/study_perusal_intone_learn_student_desk_knowledge-256.png" width="50" height="50"/>
            </div>
            <h3>Student Routine</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
